.bannter-text{
    color: #A1CCD1;
}
.banner-text1{
    -webkit-text-stroke: 5px #4E4FEB;
    text-transform: uppercase;
}
.animate{
    background-image: url('https://th.bing.com/th/id/OIP.SodTHE4yGCwfQMCI2TE-3AHaEo?w=285&h=180&c=7&r=0&o=5&pid=1.7');
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}