.about{
    background-image: url('https://i.pinimg.com/originals/99/00/eb/9900ebcc6275be75d454c7e620e80cff.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}
.footer{
    background-image: url('https://images.alphacoders.com/947/947551.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 4px solid black;
}
.aboutImage{
    border-top: 6px solid rgb(36, 11, 173);
    border-bottom: 6px solid rgb(36, 11, 173);
}
.about-text{
    /* background-image: url('https://i.pinimg.com/originals/99/00/eb/9900ebcc6275be75d454c7e620e80cff.jpg'); */
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px white;
}